*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(3, 58, 71, 0.747),rgba(3, 58, 71, 0.747)),url(images/855.gif);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(19, 18, 18, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 40px;
    color: #e6faff;
}

::placeholder{
    color: #e6faff;
}

.search-bar button img{
    width: 20px;
    height: 20px;
}

.search-bar button{
   border: 0;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   background: #ffffff;
   cursor: pointer;
} */

.jsonData{
    padding-bottom: 600px;
    position: fixed;
    font-size: 60px;
    color: rgb(233, 226, 226);
    text-align: center;
}

.tableData{
    padding-top: 400px;
    font-size: 25px;
    color: goldenrod;
    width: 100%;
    max-width: 700px;
    background: rgba(19, 18, 18, 0.2);
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    text-align: center;
}

.movingText{
    font-size: 60px;
    padding-bottom: 700px;
}
